body {
    font-family:'Times New Roman', Times, serif;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align:left;
    background:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color:black;
    margin-right: 100px;
}

form {
    margin-left: 150px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    color:black;
    margin-top: 20px;
}
